@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  background: #324F57;
  padding: 1rem;
}

body,
button {
  font-family: 'Lilita One', cursive;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  text-shadow: 4px 4px 0 rgba(#000, 0.25);
}
